<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectString"
         connectionString="Data Source=.;Initial Catalog=DevIMDB;Persist Security Info=True;User ID=APPBHProjectManage;Password=APPBHProjectManage;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>